@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

@import "tailwindcss";

* {
  font-family: "Pretendard", sans-serif;
}

button {
  cursor: pointer;
}

.line-clamp-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

/* 스크롤바 숨기기 클래스 */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Webkit 브라우저(Chrome, Safari 등)용 스크롤바 숨기기 */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
